<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <span
            style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
            <span
              style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
              <%= image_tag 'house/76-print-Corrected-23.jpg', class: 'aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]', style: 'display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0' %>
            </span>
          </span>
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">Kids will LOVE the
              Arcade
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">We are all kids at heart, and with that in mind
              we created the most fun arcade on the mountain. Two arcade game machines, a claw with plush toys, ring
              toss, and a tournament quality pool table.
            </p>
          </div>
        </div>
      </article>
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <span
            style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
            <span
              style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
              <%= image_tag 'fire-lodge-corporate.jpg', class: 'aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]', style: 'display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0' %>
            </span>
          </span>
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">Corporate Events,
              Retreats, and More
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Contact us to talk about your special use case.
              This house has a great vibe for building company culture or hosting an intimate event. One to Three day
              events can work well and it can be easy to cater here.
            </p>
          </div>
        </div>
      </article>
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <span
            style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
            <span
              style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
              <%= image_tag 'virtual-tour-thumb.jpg', class: 'aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]', style: 'display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0' %>
            </span>
          </span>
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">Need More, View the
              Virtual Tour
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600"><a class="underline" target="_blank"
              href="https://www.zillow.com/view-imx/9625c5a3-3753-4e7b-9daa-9052911e95f2?setAttribution=mls&amp;wl=true&amp;initialViewType=pano&amp;utm_source=dashboard">Click
                here</a> to view a tour of the home where you can step through the whole space. You will be able to
              visualize your family in the rooms and get a close-up look at every inch of the house.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="https://webcams.sunflower-vacations.com/images/latest" width="1620" height="970" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]" alt="A warm get away to the Fire Lodge deep in the middle of winter.">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">Realtime Mountain
              Webcam
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Check out a realtime status of the
              neighborhood, this is pointing up the street toward Summit West. These images refresh every 15 minutes.
            </p>
          </div>
        </div>
      </article>
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <video src="https://webcams.sunflower-vacations.com/uploads/timelapse.mp4"
            controls="" width="1620" height="970"
            class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            alt="A warm get away to the Fire Lodge deep in the middle of winter."></video>
          <div class=""></div>
        </div>
        <div class="max-w-xl">
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">2023 Season
              Timelapse
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Check out how the year evolves from shoulder
              season into winter at the pass! Updated daily so it always shows todays current conditions!
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
