<div class="pt-10 mx-8" style="opacity: 1; transform: none;">
  <div id="calendar" class="pt-8">
    <h3 class="mb-4 text-2xl">Fire Lodge Calendar</h3>
    <%= react_component("Calendar") %>
  </div>
</div>
