<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <main>
      <div class="relative w-screen bg-black min-h-max">
        <%= render 'common/header' %>
        <%= yield %>
      </div>
      <%= render 'common/footer' %>
    </main>
  </body>
</html>
